.iconWrapper {
    display: inline-block;
    font-size: 5vw;
    !important;
    background: #18bc9c;
    color: white;
    border: #18bc9c 0.5vw solid;
    border-radius: 50%;
    padding: 0.5vw 1vw;
}

h4 {
    vertical-align: middle;
}

.logo {
    width: 5rem;
    margin-left: 7.5rem;
}