html {
    background-color: #18bc9c;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

.mainTitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.iconWrapper {
    width: 5rem;
    margin-left: 7.5rem;
}


/* Ripple effect */

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.button {
    width: 140px;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.2em;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: all .5s ease;
    background-color: #2196f3;
}

.button.disabled {
    opacity: 0.5;
}

.form {
    width: 20em;
    margin: auto;
    margin-top: 5em;
    padding: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: white;
    color: #33312E;
    border-radius: 0.2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form .progress-bar {
    width: 100%;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 3.5em;
}

.form .progress-bar li.progress-bar__dot {
    display: block;
    width: 0.6em;
    border-radius: 1000em;
    height: 0.6em;
    border: 0.2em solid #ff8552;
    background-color: white;
    cursor: pointer;
    transition: all .5s ease;
}

.form .progress-bar li.progress-bar__dot.full {
    background-color: #ff8552;
}

.form .progress-bar li.progress-bar__connector {
    display: block;
    width: 5em;
    border-radius: 1000em;
    height: 0.1em;
    background-color: #ff8552;
    margin-top: 0.45em;
}

.form label {
    font-weight: bold;
    font-size: 1.2em;
}

.form input,
.form select {
    width: 100%;
    padding: 1.3em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    margin-top: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #e6e6e6;
    font-size: 1em;
}

.form input:focus,
.form select:focus {
    border: none;
}

.form .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.form button#validate {
    margin: auto;
    background-color: #1A936F;
    width: 12em;
}

.form button#validate:hover {
    background-color: #12684e;
}