#mainTime p, #mainTime span, #mainTime h4
{
    color: #18bc9c;
    text-align: center;
}
#mainTime .btn
{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
}
small
{
    text-align: center;
    color: #18BC9C;
}

#donateStuff
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.service-heading
{
    text-align: center;
}

.donateSectionWrapper
{
    text-align: center;
}